<!DOCTYPE html>
<html>
  <head>
    <title>ActualPlayground</title>
    <%= csrf_meta_tags %>
    <%# <%= javascript_pack_tag('app') %1> %>
    <%= yield :head %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="ui menu">
      <%= link_to("Actual Playground", root_path, class: "item") %>
      <div class="right menu">
        <% if user_signed_in? %>
          <a class="item"><%= current_user.username %></a>
        <% else %>
          <%= link_to("Sign in", new_user_session_path, class: "item") %>
        <% end %>
      </div>
  </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="ui container">
      <%= yield %>
    </div>
  </body>
</html>
