<!DOCTYPE html>
<html>
  <head>
    <title>ActualPlayground</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag('app') %>
    <%= yield :head %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<% if user_signed_in? %>
  <p><%= current_user.username %></p>
<% else %>
  <%= link_to("Sign in", new_user_session_path) %>
<% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
